<ion-header>
  <!-- <app-cabecalho></app-cabecalho> -->
  <div class="cabecalho">
    <div class="conteudo">
      <div class="bloco-imagem">
        <ion-img [src]="'./assets/img/Logo-fundo-escuro-linha.svg'"></ion-img>
        <div class="perfil" (click)="abrirPerfil()">
          <!-- <div class="perfil" (click)="abrirPerfil()"> -->
          <p>GA</p>
        </div>
      </div>
      <p>{{sTituloCabecalho}}</p>
    </div>
  </div>

</ion-header>


<ion-content [fullscreen]="true">
  <!-- <app-home [hidden]="!pacieteService.bMenuHome"></app-home> -->
  <!-- Receitas ativas -->
  <div [hidden]="!bMenuPrincipal">
    <div class="cartao">
      <div class="icone animate__animated animate__pulse animate__infinite" (click)="abrirModal('P')">
        <!-- <div class="icone animate__animated animate__pulse animate__infinite" (click)="trocarTela()"> -->
        <ion-icon name="add-circle-outline"></ion-icon>
      </div>
      <div class="titulo-receitas">
        <p class="titulo"> Adicionar receita </p>
      </div>
    </div>
  </div>

  <!-- <div class="modal-alergias">
    
  </div> -->

  <div class="modal" *ngIf="bMostarModalPaciente">
    <div class="tooltip-alergias animate__animated animate__bounceInUp" *ngIf="bMostarModalAlergia"
      [ngClass]="{'animate__bounceOutUp': bAnimacaoSaidaTooltip}">

      <div class="fundo-padrao" *ngIf="!(aListaAlergia.length>0)">
        <img src="assets/img/sem_dados.svg" alt="">
        <p>SEM ALERGIA CADASTRADA</p>
      </div>

      <div class="conteudo-tooltip" *ngIf="(aListaAlergia.length>0)">
        <div *ngFor="let alergia of aListaAlergia">
          <div class="alergia">
            <span class="conteudo-alergia">Intensidade: </span>
            <span [ngClass]="{
                        'conteudo-alta': alergia.intensidade == 'ALTA',
                        'conteudo-baixa': alergia.intensidade == 'BAIXA',
                        'conteudo-media': alergia.intensidade == 'MEDIA'}">
            {{alergia.intensidade}}
            </span>
          </div>
          <div>
            <span class="conteudo-alergia">Tipo: </span>
            <span class="tipo-alergia">{{alergia.tipoAlergia}}</span>
          </div>
          <div>
            <span class="conteudo-alergia">Observação: </span>
            <div class="observacao">{{alergia.descricao}}</div>
            <div class="linha"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="botao-voltar animate__animated animate__flipInX" (click)="fecharModal('A')" *ngIf="bMostarModalAlergia"
      [ngClass]="{'animate__flipOutX': bAnimacaoSaidaTooltip}">
      <div class="botao">
        <p>Voltar</p>
      </div>
    </div>

    <div class="box animate__animated animate__bounceInUp" [ngClass]="{'animate__bounceOutUp': bAnimacaoSaida}">
      <div class="titulo">
        <p>Selecione o Paciente</p>
      </div>
      <div class="conteudo">
        <div class="detalhes">
          <ion-list mode="md" style="background: #fff0">
            <ion-item>
              <label>CPF: </label>
              <input type="tel" mask="000.000.000-00" class="input-cpf" [(ngModel)]="sCpfPaciente"
                (input)="procurarPaciente($event)">
            </ion-item>
          </ion-list>
          <div class="paciente">
            <div class="perfil"></div>
            <div class="quadro">
              <div class="detalhesPaciente">
                <p style="text-transform: uppercase;">{{iDadosPaciente ? iDadosPaciente.nome : ""}}</p>
                <p style="text-transform: uppercase;" *ngIf="aListaAlergia.length>0">Nº de Alergias: {{aListaAlergia ?
                  aListaAlergia.length : "0"}}</p>
              </div>
              <div class="alergias" (click)="abrirModal('A')">
                <p>Ver Alergias</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rodape-medicamento">
        <p class="botao-add" (click)="pesquisarPaciente()">Selecionar</p>
      </div>
    </div>

    <div class="botao-fechar animate__animated animate__flipInX" (click)="fecharModal('P')" *ngIf="!bMostarModalAlergia"
      [ngClass]="{'animate__flipOutX': bAnimacaoSaida}">
      <div class="botao">
        <p>Cancelar</p>
      </div>
    </div>
  </div>

  <div class="preescricao" [hidden]="bMenuPrincipal">
    <div class="fundo">
      <img src="assets/img/Logo-fundo-claro.svg" alt="">
    </div>
    <div class="detalhe-medico">
      <p class="clinica">{{iDadosMedico?.clinica ? iDadosMedico?.clinica : ""}}</p>
      <p class="medico">{{sNomeMedicoArrumado}}</p>
      <p class="especialidade">{{iDadosMedico?.especialidade ? iDadosMedico?.especialidade : ""}} |
        {{iDadosMedico?.crm}}</p>
    </div>

    <div class="modal" *ngIf="bMostarModal">
      <div class="box animate__animated animate__bounceInUp" [ngClass]="{'animate__bounceOutUp': bAnimacaoSaida}">
        <div class="titulo">
          <p>Adicionar Medicamento</p>
        </div>
        <div class="conteudo">
          <div class="detalhes">
            <ion-list mode="md" style="background: #fff0">
              <ion-item>
                <ion-label>REMÉDIO: </ion-label>
                <ion-select interface="action-sheet" placeholder="Selecione" mode="ios" cancelText="Cancelar"
                  [(ngModel)]="aRemedio">
                  <ion-select-option *ngFor="let medicamentos of iListaMedicamentos"
                    [value]="medicamentos">{{medicamentos.nome}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">QUANTIDADE DE DIAS: </ion-label>
                <ion-input type="number" enterkeyhint="enter" placeholder="3" clearInput="true" [(ngModel)]="aDias"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>A CADA QUANTAS HORAS: </ion-label>
                <ion-select interface="action-sheet" placeholder="Selecione" mode="ios" cancelText="Cancelar"
                  [(ngModel)]="aHoras">
                  <ion-select-option value="2">2 Horas</ion-select-option>
                  <ion-select-option value="4">4 Horas</ion-select-option>
                  <ion-select-option value="6">6 Horas</ion-select-option>
                  <ion-select-option value="8">8 Horas</ion-select-option>
                  <ion-select-option value="10">10 Horas</ion-select-option>
                  <ion-select-option value="12">12 Horas</ion-select-option>
                  <ion-select-option value="24">24 Horas</ion-select-option>
                  <ion-select-option value="48">48 Horas</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div class="rodape-medicamento">
          <p class="botao-add" (click)="adicionarRemedio()">ADICIONAR</p>
        </div>
      </div>

      <div class="botao-fechar animate__animated animate__flipInX" (click)="fecharModal('R')"
        [ngClass]="{'animate__flipOutX': bAnimacaoSaida}">
        <div class="botao">
          <p>Cancelar</p>
        </div>
      </div>
    </div>
    <div class="conteudo">
      <div class="competencia" (click)="abrirModal('R')">
        <p>Adicionar Remédios</p>
      </div>
      <div class="medicacao">
        <div class="detalhe-medicacao" *ngFor="let lista of aListaRemedio; let i = index">
          <div class="box-medicacao">
            <div class="icone" (click)="removerLista(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
            <div class="detalhe-remedio">
              <p class="nome-remedio">{{lista.nomeRemedio}}</p>
              <p class="frequencia-remedio"> {{lista.horas}}</p>
            </div>
            <p class="tempo">{{lista.dias}}</p>
          </div>
        </div>
      </div>
      <div class="observacao">
        <p>observação</p>
        <div class="texto">
          <textarea [(ngModel)]="sObservacaoReceita"></textarea>
          <!-- <textarea [value]="aDetalheReceita?.observacao" disabled></textarea> -->
        </div>
      </div>
      <div class="assinatura">
        <p>Ass:</p>
      </div>
    </div>

    <div class="botao-confirmar">
      <div class="confirmar" (click)="confirmarEnvio()">
        Enviar Receita
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="box-rodape">
  <div class="rodape">
    <div class="menus">
      <div class="icones" (click)="fecharModal('G')"><ion-icon name="home"></ion-icon></div>
    </div>
  </div>
</ion-footer>