ion-content {
  --background: #0a346b;
  --color: #3880ff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}

.alterar-usuario {
  position: relative;
  top: 48px;
}

.imagem {
  position: absolute;
  top: 100px;
  z-index: 1;
  width: 100%;
  text-align: -webkit-center;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;

  ion-img {
    width: 300px;
  }
}

.registrar {
  width: 100%;
  text-align: -webkit-center;
  margin: 0px;
  margin: 35px 0px 25% 0px;

  ion-img {
    width: 250px;
  }
}

.box {
  position: fixed;
  bottom: 0;
  height: 250px;
  padding: 10px 15px;
  border-radius: 40px 40px 0px 0px;
  background-color: #e9f2f5;

  .titulo {
    color: #1e1e1e;
    font-weight: bolder;
  }

  .descricao {
    color: #1e1e1e;
  }

  .botoes {
    display: flex;
    justify-content: space-between;

    ion-button {
      border-radius: 50px;
      width: 160px;
      height: 40px;
      border: 1px solid #0a346bde;
    }
  }
}

.main {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #0a346b;
  height: 100%;
  overflow: hidden;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
  // background-image: linear-gradient(to bottom, transparent 50%, #dbdbdb 50%);
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 20%;
}

label {
  color: #dbdbdb;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #dbdbdb;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.titulo-login {
  margin: 25% 0 5%;
}

.titulo-registro {
  margin: 5% 0 20%;
}

/*Register*/
.register {
  background: #dbdbdb;
  border-radius: 60%/10%;
  width: 100%;
  height: 785px;
  // height: 100%;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;
  position: absolute;
  top: 82%;
  z-index: 11;
}

.register .titulo-registro {
  color: #0a346b;
  transform: scale(0.85);
  //   border: 1px solid #3880ff;
  // border-radius: 50px;
  // position: relative;
  // bottom: 235px;
}

.register .titulo-registro-box {
  // transform: translateY(-170%)
  transform: translateY(5%);
  // position: absolute;
  // top: -20px;
  // left: 0;
  // width: 100%;
}

#chk:checked~.register {
  transform: translateY(-50%);
  top: 475px;
  // top: 61%;
}

#chk:checked~.registrar ion-img {
  width: 300px;
  position: relative;
  top: 50px;
}

#chk:checked~.register .titulo-registro {
  transform: scale(1);
  margin: 42px 0 5%;
  // position: unset;
}

#chk:checked~.register .titulo-registro-box {
  transform: translateY(240%);
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}

#chk:checked~.login .titulo-login {
  transform: scale(0.6);
  transform: translateY(-600%);
  margin: 5% 0 5%;
  font-size: 25px;
}

#chk:checked~.titulo-login {
  transform: translateY(-540%);
  font-size: 24px;
}

#chk:checked~.imagem {
  transform: translateY(-200%);
}

/*Button*/
.form button {
  width: 100%;
  height: 40px;
  margin: 10px auto 10%;
  color: #dbdbdb;
  background: #387dff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/*
 Inputs Registro
*/
.inputRegistro {
  margin: 1em 0 0em 0;
  position: relative;
  color: #0a346b;
}

.inputLogin {
  color: #dbdbdb;
}

.inputRegistro input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputRegistro label {
  font-size: 100%;
  position: absolute;
  left: 0;
  top: 2px;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputLogin label {
  color: rgb(250, 250, 250);
}

.inputLogin :is(input:focus, input:valid)~label {
  background-color: #0a346b !important;
}

.inputRegistro :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #dbdbdb;
}

.inputRegistro :is(input:focus, input:valid) {
  border-color: #0a346b5b;
}

.inputLogin :is(input:focus, input:valid) {
  border-color: #ffffff5b;
}

.tipo-usuario {
  font-weight: 500;
  position: relative;
  top: 9px;
}

/* Toggle buttom */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: toggle__animation 3s infinite;
  z-index: 100;
  bottom: 18px;
  left: 90px;
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #316ee0;
  background-image: radial-gradient(at 21% 46%, hsla(183, 65%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 25%, hsla(359, 74%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 1%, hsla(267, 83%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 87%, hsla(204, 69%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 41%, hsla(171, 72%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 24%, hsla(138, 60%, 62%, 1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #2068c6;
  background-image: radial-gradient(at 81% 39%, rgb(6 69 116) 0px, transparent 50%), radial-gradient(at 11% 72%, rgb(70 130 143) 0px, transparent 50%), radial-gradient(at 23% 20%, rgb(0 255 221) 0px, transparent 50%) // background-color: #ff99fd;
    // background-image: radial-gradient(at 81% 39%, hsla(327,79%,79%,1) 0px, transparent 50%),
    // radial-gradient(at 11% 72%, hsla(264,64%,79%,1) 0px, transparent 50%),
    // radial-gradient(at 23% 20%, hsla(75,98%,71%,1) 0px, transparent 50%);
}

.input__check:checked+.slider {
  background-color: #1e1e1e;
}

.input__check:checked+.slider:before {
  transform: translateX(1.5em);
}

@keyframes toggle__animation {

  0%,
  100% {
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}

.nivel-senha {
  margin: 3px 15px 0px 14px;
  padding: 3px 0 0 6px;
  width: 25%;
  border-top: 3px solid #A83B3B;
  font-size: 12px;
  font-weight: 700;
  color: #A83B3B;
}

.confirmar-senha {
  font-size: 12px;
  font-weight: 700;
  padding: 3px 0px 0px 10px;
  color: #A83B3B;
}