ion-content {
  --background: #0a346b;
  --color: #3880ff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}

.imagem {
  position: absolute;
  top: 100px;
  z-index: 1;
  width: 100%;
  text-align: -webkit-center;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;
  ion-img {
    width: 300px;
  }
}

.registrar {
  width: 100%;
  text-align: -webkit-center;
  margin: 20% 0px 10% 0px;
  ion-img {
    width: 300px;
  }
}

.box {
  position: fixed;
  bottom: 0;
  height: 250px;
  padding: 10px 15px;
  border-radius: 40px 40px 0px 0px;
  background-color: #e9f2f5;
  .titulo {
    color: #1e1e1e;
    font-weight: bolder;
  }
  .descricao {
    color: #1e1e1e;
  }
  .botoes {
    display: flex;
    justify-content: space-between;
    ion-button {
      border-radius: 50px;
      width: 160px;
      height: 40px;
      border: 1px solid #0a346bde;
    }
  }
}

.main {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #0a346b;
  height: 100%;
  overflow: hidden;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 17%;
}

label {
  color: #e9f2f5;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e9f2f5;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.titulo-login{
  margin: 25% 0 5%;;
}

.titulo-registro{
  margin: 5% 0 20%;
}

/*Register*/
.register {
  background: #e9f2f5;
  border-radius: 60% / 10%;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;
  position: relative;
  top: 33%;
  z-index: 11;
}

.register .titulo-registro {
  color: #0a346b;
  transform: scale(0.75);
  position: relative;
  bottom: 235px;
}

#chk:checked ~ .register {
  transform: translateY(-50%);
}

#chk:checked ~ .register .titulo-registro {
  transform: scale(1);
  margin: 10% 0 5%;
  position: unset;
}

#chk:checked ~ .login .titulo-login {
  transform: scale(0.6);
  transform: translateY(-600%);
  margin: 5% 0 5%;
  font-size: 25px;
}

#chk:checked ~ .titulo-login {
  transform: translateY(-540%);
  font-size: 24px;
}

#chk:checked ~ .imagem {
  transform: translateY(-200%);
}

/*Button*/
.form button {
  width: 100%;
  height: 40px;
  margin: 25px auto 10%;
  color: #e9f2f5;
  background: #387dff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/*
 Inputs Registro
*/
.inputRegistro {
  margin: 1em 0 0em 0;
  position: relative;
  color: #0a346b;
}

.inputRegistro {
  color: #E9F2F5;
}

.inputRegistro input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputRegistro label {
  font-size: 100%;
  position: absolute;
  left: 0;
  top: 2px;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputLogin label {
  color: rgb(250, 250, 250);
}

.inputLogin :is(input:focus, input:valid)~label {
  background-color: #0a346b!important;
}

.inputRegistro :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #E9F2F5;
}

.inputRegistro :is(input:focus, input:valid) {
  border-color: #0a346b5b;
}

.inputLogin :is(input:focus, input:valid) {
  border-color: #ffffff5b;
}
