<ion-content>
  <div class="imagem">
    <ion-img src="../../assets/img/Logo-fundo-escuro.svg"></ion-img>
  </div>


  <ion-footer>
    <div class="box">
      <h1 class="titulo">BEM-VINDO</h1>
      <p class="descricao">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nemo dolor porro nisiexercitationem
        reprehenderit iure doloremque amet optio.
      </p>
      <div class="botoes">
        <ion-button (click)="entrar()" shape="round" color="primary" [routerLink]="'../area-paciente'"> ENTRAR </ion-button>
        <ion-button (click)="registrar()" shape="round" color="medium"> REGISTRAR </ion-button>
      </div>
    </div>
  </ion-footer>
</ion-content>
