<!-- <ion-content>
  <div class="imagem">
    <ion-img src="../../assets/img/Logo-fundo-escuro.svg"></ion-img>
  </div>
  <ion-footer>
    <div class="box">
      <h1 class="titulo">BEM-VINDO</h1>
      <p class="descricao">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nemo dolor porro nisiexercitationem
        reprehenderit iure doloremque amet optio.
      </p>
      <div class="botoes">
        <ion-button (click)="entrar()" shape="round" color="primary" [routerLink]="'../area-paciente'"> ENTRAR </ion-button>
        <ion-button (click)="registrar()" shape="round" color="medium"> REGISTRAR </ion-button>
      </div>
    </div>
  </ion-footer>
</ion-content> -->

<ion-content>


  <div class="main" [ngStyle]="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="imagem">
      <ion-img src="../../assets/img/Logo-fundo-escuro.svg"></ion-img>
    </div>

    <div class="login" [ngStyle]="form">
      <form class="form">
        <label class="titulo-login" for="chk" aria-hidden="true" (click)="alterarTipoEntrada()">Entrar</label>

        <div class="inputRegistro inputLogin">
          <input type="tel" required="" autocomplete="off" name="sLogin" [(ngModel)]="sLogin" mask="000-000 || 000.000.000-00">
          <label for="name">CPF ou CRM</label>
        </div>

        <div class="inputRegistro inputLogin">
          <input type="password" required="" autocomplete="off" name="sSenha" [(ngModel)]="sSenha">
          <label for="name">Senha</label>
        </div>

        <button (click)="entrar()">Entrar</button>
      </form>
    </div>

    <div class="register">
      <form class="form">
        <div class="titulo-registro-box">
          <label for="chk" aria-hidden="true" class="titulo-registro" (click)="alterarTipoEntrada()">Registrar
            {{!bELogin ? (bEMedico ? 'Médico' : 'Paciente') : ''}}</label>
          </div>
          <div class="registrar">
            <ion-img src="../../assets/img/Logo-fundo-claro.svg"></ion-img>
            <div class="alterar-usuario">
              <p class="tipo-usuario">Sou {{sTipoUsuario}}?</p>
              <label class="switch">
                <input type="checkbox" class="input__check" [(ngModel)]="bEMedico" (click)="alterarTipoUsuario()">
                <span class="slider"></span>
              </label>
            </div>
          </div>

        <div class="formulario-registro">
          <div class="inputRegistro">
            <input type="text" required="" autocomplete="off" name="sNomeCompleto" [(ngModel)]="sNomeCompleto">
            <label for="name">Nome Completo</label>
          </div>
          <div class="inputRegistro" *ngIf="!bEMedico">
            <input type="tel" required="" autocomplete="off" mask="000.000.000-00" name="sCpf" [(ngModel)]="sCpf">
            <label for="name">CPF</label>
          </div>
          <div class="inputRegistro" *ngIf="bEMedico">
            <input type="tel" required="" autocomplete="off" mask="000-000" name="sCrm" [(ngModel)]="sCrm">
            <label for="name">CRM</label>
          </div>
          <div class="inputRegistro">
            <input type="tel" required="" autocomplete="off" mask="(00) 00000-0000 || (00) 0000-0000" name="sCelular" [(ngModel)]="sCelular">
            <label for="name">Celular</label> 
          </div>
          <div class="inputRegistro">
            <input type="password" required="" autocomplete="off" [(ngModel)]="password" (input)="checkPasswordStrength('S')" name="sSenhaCadastro" [(ngModel)]="sSenhaCadastro">
            <label for="password">Senha</label>
            <div *ngIf="password" [ngStyle]="nivelSenhaEstilo" class="nivel-senha">
              <p>{{ passwordStrength}}</p>
            </div>
          </div>
          <div class="inputRegistro">
            <input type="password" required="" autocomplete="off" [(ngModel)]="confirmPassword" (blur)="validaSenhas()" (input)="checkPasswordStrength('C')">
            <label for="password">Confirmar Senha</label>
            <div [hidden]="estaIgual" class="confirmar-senha">
              <p>Senha de confirmação está diferente !</p>
            </div>
          </div>
        </div>
        <button (click)="registrar()">Registrar</button>
      </form>
    </div>
  </div>
</ion-content>