<ion-header>
  <app-cabecalho [sTituloCabecalho]="'Perfil'" [bExisteModal]="true"></app-cabecalho>
</ion-header>

<div class="conteudo">
  <div class="foto-perfil">
    <p>GA</p>
  </div>

  <div class="formulario">
    <div class="container">
      <form class="form">
        <div class="form_front">
          <input type="text" class="input" placeholder="NOME COMPLETO">
          <input type="text" class="input" placeholder="CPF">
          <input type="text" class="input" placeholder="CRM">
          <input type="text" class="input" placeholder="CELULAR">
          <input type="text" class="input" placeholder="EMAIL">
          <input type="text" class="input" placeholder="DATA DE NASCIMENTO">
          <div class="botoes">
            <button class="btn salvar">Salvar</button>
            <button class="btn excluir">Excluir conta</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="sair">
    <ion-button (click)="sair()" expand="block" color="danger" fill="clear" mode="ios" strong [routerLink]="'../'">
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      Desconectar
    </ion-button>
  </div>
</div>

<ion-footer class="box-rodape">
  <app-rodape [bExisteModal]="true"></app-rodape>
</ion-footer>
