<ion-header>
  <app-cabecalho [sTituloCabecalho]="'Perfil'" [bExisteModal]="true"></app-cabecalho>
</ion-header>

<div class="conteudo">
  <div class="foto-perfil">
    <p>GA</p>
  </div>

  <div class="formulario">
    <!-- <form action="" [formGroup]="fbDadosPerfil" (ngSubmit)="salvarPerfil()">
      <ion-item>
        <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="fbDadosPerfil.get('EMAIL')?.invalid && fbDadosPerfil.get('EMAIL')?.touched" lines="none">
        <ion-text color="danger" class="form-error">
          Insira um endereço de email válido
        </ion-text>
      </ion-item>
      <ion-button block color="primary" type="submit" [disabled]="fbDadosPerfil.invalid">
        Salvar
      </ion-button>
    </form>-->


      <div class="container">
        <form class="form">
            <div class="form_front">
                <input type="text" class="input" placeholder="NOME COMPLETO">
                <input type="text" class="input" placeholder="CPF">
                <input type="text" class="input" placeholder="CRM">
                <input type="text" class="input" placeholder="CELULAR">
                <input type="text" class="input" placeholder="EMAIL">
                <input type="text" class="input" placeholder="DATA DE NASCIMENTO">
                <div class="botoes">
                  <button class="btn salvar">Salvar</button>
                  <button class="btn excluir">Excluir conta</button>
                </div>
            </div>
        </form>
    </div>

  </div>
</div>

<ion-footer class="box-rodape">
  <app-rodape [bExisteModal]="true"></app-rodape>
</ion-footer>
