<ion-content>
  <ion-header>
    <app-cabecalho [sTituloCabecalho]="'Histórico'" style="color: #fefefe;"></app-cabecalho>
  </ion-header>

  <div class="preescricao">
    <div class="fundo">
      <img src="assets/img/Logo-fundo-claro.svg" alt="">
    </div>
    <div class="detalhe-medico">
      <p class="clinica">{{aDadosMedico?.clinica}}</p>
      <p class="medico">{{!bGenero ? 'DR.' : 'DRA.'}} {{aDadosMedico?.nome}}</p>
      <p class="especialidade">{{aDadosMedico?.especialidade}} | {{aDadosMedico?.crm}}</p>
    </div>
    <div class="conteudo">

      <div class="competencia" *ngIf="bTemCompetencia">
        <p>{{aDetalheReceita?.dataExpedicao ? formatadorDeData.formatarDataDDMMAAAA(aDetalheReceita?.dataExpedicao) : ''}}</p>
      </div>

      <div class="medicacao" >
        <div class="detalhe-medicacao" *ngFor="let prescricao of aDetalhePrescricao">
          <div class="box-medicacao">
            <p class="nome-remedio">{{prescricao?.dadosMedicamento?.nome}}</p>
            <p class="tempo">{{prescricao?.quantidadeDias}} Dias</p>
          </div>
          <p class="frequencia-remedio">
            {{prescricao?.frequencia}}
          </p>
        </div>
        <!-- <div class="detalhe-medicacao">
          <div class="box-medicacao">
            <p class="nome-remedio">Canesten</p>
            <p class="tempo">5 DIAS</p>
          </div>
          <p class="frequencia-remedio">
            Tomar a cada 8 horas
          </p>
        </div> -->
      </div>

      <div class="observacao">
        <p>observação</p>
        <div class="texto">
          <textarea [value]="aDetalheReceita?.observacao" disabled></textarea>
        </div>
      </div>

      <div class="assinatura" *ngIf="!bTemCompetencia">
        <p>Ass:</p>
      </div>

    </div>
  </div>
  <div class="rodape">
    <div class="menus">
      <ion-button (click)="voltar()" fill="clear" slot="start">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        Voltar
      </ion-button>
    </div>
  </div>
</ion-content>
