<ion-content>

  <div class="cabecalho">
    <h2 class="animate__animated animate__slideInRight">Receitas ativas</h2>
    <ion-icon [routerLink]="'../'" name="chevron-back-outline" color="primary" style="height: 100%;"></ion-icon>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="recarregar($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Puxe para atualizar"
      refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="receitas">
    <div class="fundo-padrao" *ngIf="!(aListaReceita.length>0)">
      <img src="assets/img/sem_dados_receita.svg" alt="">
      <p>SEM RECEITAS ATIVAS</p>
    </div>

    <div class="back animate__animated animate__backInUp" (click)="abrirDetalhes(receitas.id)"
      *ngFor="let receitas of aListaReceita">
      <div class="back-content">
        <div class="cartao">
          <!-- <div class="cartao animate__animated animate__backInUp" *ngFor="let lista of aDadosReceitas" (click)="verReceita(lista)"> -->
          <div class="titulo-cartao">
            <p>Clinico Geral - {{receitas.id}}</p>
            <p>DR. RENATO DE AVILA KFOURI</p>
          </div>
          <img src="../../../assets/img/fundo-remedio.jpg" alt="">
          <div class="rodape-cartao">
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>
