<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="recarregar($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Puxe para atualizar"
        refreshingSpinner="circles"
        refreshingText="Atualizando..."
      >
      </ion-refresher-content>
    </ion-refresher>
  <!-- Próximo alarme -->
  <!-- <div class="cartao">
    <div class="icone">
      <ion-icon name="alarm"></ion-icon>
      <div class="horas">
        <p>18</p>
        <p>00</p>
      </div>
    </div>
    <div class="titulo-alarme">
      <p class="titulo">Próximo alarme</p>
      <p class="nome">Nome do alarme</p>
      <p class="hora-medicamento">12|12 Horas por 10 dias</p>
    </div>
    <div class="botao-lateral">
      Ver Todos
    </div>
  </div> -->

  <!-- Relatório de alergias -->
  <div class="cartao">
    <div class="icone">
      <ion-icon name="hand-left-outline"></ion-icon>
      <div class="intensidade">
        <div class="alta">
          <span>{{sContagemAlta}}</span>
          <span>Alta</span>
        </div>
        <div class="media">
          <span>{{sContagemMedia}}</span>
          <span>Média</span>
        </div>
        <div class="baixa">
          <span>{{sContagemBaixa}}</span>
          <span>Baixa</span>
        </div>
      </div>
    </div>
    <div class="titulo-alergia">
      <p class="titulo">Última reação</p>
      <p class="nome">{{sTipoAlergia ? sTipoAlergia : "Sem alergia"}}</p>
      <p class="hora-medicamento">{{sDataUltimaReacao ? formatarData(sDataUltimaReacao) : ""}}</p>
    </div>
    <div [routerLink]="'./alergia'" class="botao-lateral">
      Ver Todos
    </div>
  </div>

  <!-- Receitas ativas -->
  <div class="cartao">
    <div class="icone">
      <ion-icon name="reader-outline"></ion-icon>
      <div class="qtd-receitas">
        <p>{{sReceitasAtivas}}</p>
      </div>
    </div>
    <div class="titulo-receitas">
      <p class="titulo">{{(sReceitasAtivas === "0" || sReceitasAtivas === "1") ? "Receita ativa" : "Receitas ativas" }}
      </p>
    </div>
    <div class="botao-lateral" (click)="trocarMenu()">
      Ver Todos
    </div>
  </div>

</ion-content>
