.cartao {
  border: 1px solid #a0fff6;
  border-radius: 10px;
  margin: 20px 15px;
  padding: 10px;
  height: 130px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E9F2F5;
  .icone {
    display: flex;
    align-items: center;
    height: 100%;
    ion-icon {
      font-size: 85px;
      color: #0a346b;
    }
  }
  .horas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    color: #1664c6;
    font-weight: 900;
    line-height: 0px;
    width: 75px;
    p {
      margin: 20px;
      padding: 0px;
      font-family: "Noto Sans", sans-serif !important;
    }
  }
  .titulo-alarme {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    p {
      margin: 0;
      padding: 0px;
      text-transform: uppercase;
    }
    .titulo {
      font-weight: 700;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .botao-lateral {
    height: 130px;
    position: relative;
    left: 11px;
    border-radius: 0px 10px 10px 0px;
    writing-mode: vertical-lr;
    background-color: #0a346b;
    color: #ccc;
    text-align: center;
    font-size: 15px;
  }

  .botao-lateral:active {
    height: 130px;
    position: relative;
    left: 11px;
    border-radius: 0px 10px 10px 0px;
    writing-mode: vertical-lr;
    background-color: #cfcccc;
    color: #0a346b;
    text-align: center;
    font-size: 15px;
  }

  .intensidade {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    .alta {
      background-color: #a83b3b;
      color: #1e1e1e;
      font-weight: 800;
      border-radius: 3px;
      padding: 3px;
      width: 90px;
      display: flex;
      justify-content: space-around;
    }
    .media {
      background-color: #ebc917;
      color: #1e1e1e;
      font-weight: 800;
      border-radius: 3px;
      padding: 3px;
      width: 90px;
      display: flex;
      justify-content: space-around;
    }
    .baixa {
      background-color: #8d8d8d;
      color: #1e1e1e;
      font-weight: 800;
      border-radius: 3px;
      padding: 3px;
      width: 90px;
      display: flex;
      justify-content: space-around;
    }
  }

  .titulo-alergia {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    p {
      margin: 0;
      padding: 0px;
      text-transform: uppercase;
    }
    .titulo {
      font-weight: 700;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .qtd-receitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    color: #1e1e1e;
    font-weight: 900;
    line-height: 0px;
    width: 75px;
    p {
      font-size: 60px;
      font-weight: 600;
      padding: 0px 0px 0px 5px;
    }
  }
  .titulo-receitas {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    p {
      margin: 0;
      padding: 0px;
      text-transform: uppercase;
    }
    .titulo {
      padding: 0px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      margin: auto;
    }
  }
}
