<div class="cabecalho">
  <h2 class="animate__animated animate__slideInRight">Histórico</h2>
  <ion-button (click)="filtrar()">
    <ion-icon slot="icon-only" name="filter"></ion-icon>
  </ion-button>
</div>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="recarregar($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="receitas">
    <div class="back animate__animated animate__backInUp"  (click)="abrirDetalhes()" *ngFor="let historico of aListaHistorico">
      <div class="back-content">
        <div class="cartao">
          <!-- <div class="cartao animate__animated animate__backInUp" *ngFor="let lista of aDadosReceitas" (click)="verReceita(lista)"> -->
          <div class="titulo-cartao">
            <p>Clinico Geral - {{historico.id}}</p>
            <p>DR. RENATO DE AVILA KFOURI</p>
          </div>
          <img src="../../../assets/img/fundo-remedio.jpg" alt="">
          <div class="rodape-cartao">
            <p>
              Emitido em: {{historico.dataExpedicao}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
